<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="720ff470-4edd-47e0-ac19-a14467b610d3" name="AccountStatus" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
    <con:settings id="8910c2ea-c016-4d2c-8ff8-edf6f2702143"><con:setting id="720ff470-4edd-47e0-ac19-a14467b610d3fileName">AccountStatus</con:setting></con:settings>
    <con:definitionCache type="TEXT" rootPart="AccountStatus.json">
      <con:part>
        <con:url>AccountStatus.json</con:url>
        <con:content>{"openapi":"3.0.1","info":{"title":"AccountStatus","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/0.2/user/status":{"get":{"responses":{"default":{"description":"Default response"}}}}}}</con:content>
        <con:type>https://swagger.io/openapiv3/specification</con:type>
      </con:part>
    </con:definitionCache>
    <con:endpoints>
      <con:endpoint>https://ws.detectlanguage.com</con:endpoint>
    </con:endpoints>
    
  </con:interface>