<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5de7baaa-8bde-4cac-95a7-8d1c43920040" name="SingleDetectionPostiveandNegative" xmlns:con="http://eviware.com/soapui/config">
    <con:settings id="93ecc9d0-6639-4a3e-8040-fba96b4ff8a3"><con:setting id="5de7baaa-8bde-4cac-95a7-8d1c43920040fileName">SingleDetectionPostiveandNegative</con:setting></con:settings>
    <con:runType>SEQUENTIAL</con:runType>
    
    
    
    
    
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>